importFrom("spatstat", rpoint)
importFrom("stratification", strata.LH)
importFrom("sp", SpatialPolygons, SpatialPoints, overlay, spsample)
exportClasses(SpatialStratifiedSample)
exportPattern("^[^\\.]")