importFrom("spatstat", rpoint)
importFrom("stratification", strata.LH)
importFrom("GSIF", fit.gstatModel)
importFrom("sp", SpatialPolygons, SpatialPoints, overlay, spsample)
importClassesFrom("plotKML", SpatialPredictions, RasterBrickSimulations)
importClassesFrom("GSIF", gstatModel)
exportClasses(SpatialStratifiedSample)
exportMethods(spsample.cv, eval.gstatModel)
exportPattern("^[^\\.]")